
# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Project-specific
users.json        # User database file
